* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Ubuntu;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

ol, ul, p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

html {
  scroll-behavior: smooth;
}

body ._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.header__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 20px 20px;
}

.header__btn {
  display: none;
}

.header__nav {
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.header__nav ul li a {
  color: #828282;
  padding: 5px;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header__nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

.header__nav ul li a:hover {
  color: #fff;
  z-index: 1;
  text-decoration: none;
}

.header__nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav-list > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__main-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 0px 30.6px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__my-name {
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  word-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 124px;
          flex: 0 1 124px;
}

.header__about-me {
  font-size: 18px;
  line-height: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
}

.header__language {
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__language--eng {
  font-weight: 700;
}

.header__my-foto {
  background-image: url("../assets/img/my-foto.JPG");
  background-repeat: no-repeat;
  background-position: 100% 35%;
  background-size: cover;
  width: 100%;
  height: 387px;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #050505;
  }
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #050505;
  }
}

.about-me {
  background-color: #f3f3f3;
  padding: 70px 0px;
  color: #070707;
}

.about-me__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me__title {
  margin: 40px 0px 50px;
}

.about-me__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 40px;
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

.education {
  background-color: #f3f3f3;
}

.education__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 70px 55px;
}

.education__title {
  margin-bottom: 50px;
}

.education__sup-title {
  margin: 25px 0;
  font-size: 18px;
  line-height: 25px;
}

.education__sup-title span {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
}

.education__courses-item {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  background-image: url(../assets/svg/check_mark.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 35px;
}

.education__courses-item-link {
  color: #070707;
  cursor: pointer;
}

.education__courses-item-link:hover {
  color: #828282;
}

.education__certificate-img {
  width: 500px;
  display: none;
}

.active {
  display: block;
}

.skills__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 70px 20px;
}

.skills__title {
  margin-bottom: 49px;
}

.skills__hard-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 30px 50px;
}

.skills__item > img {
  width: 80px;
}

.skills__item-text {
  line-height: 17px;
  text-align: center;
  margin: 23px 0px 31px;
  color: #828282;
}

.skills__level img {
  cursor: pointer;
}

.soft-skills {
  background-color: #fff;
}

.soft-skills__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 40px 20px 70px;
}

.soft-skills__title {
  margin: 25px 0 40px;
}

.soft-skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.soft-skills__item-title {
  font-size: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  line-height: 42px;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soft-skills__item-title > img {
  width: 30px;
  margin-right: 10px;
}

.english {
  background-color: #f3f3f3;
}

.english__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 70px 20px;
}

.swiper {
  width: 700px;
  height: 500px;
}

.portfolio {
  padding: 70px 0;
}

.portfolio__container {
  max-width: 943px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 25px;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__code-title {
  text-decoration: underline;
}

.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.portfolio__item {
  width: 300px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item-img {
  max-width: 420px;
}

.portfolio__item-suptitle {
  margin-top: 10px;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.progress {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 150px;
          flex: 2 1 150px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(144, 189, 223, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(144, 189, 223, 0.6) inset;
}

.contacts {
  background-color: #f3f3f3;
  padding: 70px 20px;
}

.contacts__container {
  max-width: 943px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 50px;
}

.contacts__content {
  border-left: 3px solid #828282;
}

.contacts__list {
  height: 120px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-fill: auto;
          column-fill: auto;
}

.contacts__item {
  margin-left: 20px;
}

.contacts__link {
  color: #070707;
  line-height: 40px;
}

.contacts__link:hover {
  color: #828282;
  text-decoration: none;
}

.contacts__link-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer {
  padding: 30px 20px;
}

.footer__container {
  max-width: 943px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  width: 90px;
  margin-left: 20px;
}

@media (max-width: 920px) {
  .portfolio__item-img {
    max-width: 340px;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header__btn span, .header__btn::before, .header__btn::after {
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0;
    background-color: #616161;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }
  .header__btn > span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__btn::before {
    content: '';
    top: 0;
  }
  .header__btn::after {
    content: '';
    bottom: 0;
  }
  .header__btn--active > span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__btn--active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__btn--active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__content {
    padding-bottom: 30px;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    padding: 100px 30px 30px 60px;
    opacity: .96;
    -webkit-transition: left .3s ease 0s;
    transition: left .3s ease 0s;
    overflow: auto;
  }
  .header__nav::before {
    content: "";
    top: 0;
    left: 0;
    position: fixed;
    height: 60px;
    background-color: #f3f3f3;
    width: 100%;
    z-index: 2;
  }
  .header__nav ul li a {
    color: #000;
    font-size: 24px;
  }
  .header__nav--active {
    left: 0;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-list-link {
    margin-top: 30px;
  }
  .about-me,
  .skills__container,
  .soft-skills__container,
  .portfolio,
  .contacts {
    padding: 70px 20px;
  }
  .skills__item {
    margin: 20px 26px;
  }
  .skills__item > img {
    width: 70px;
  }
  .skills__item-text {
    margin: 18px 0 22px;
  }
  .portfolio__container {
    padding: 0;
  }
  .swiper {
    width: 500px;
    height: 420px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .contacts {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .swiper {
    width: 400px;
  }
  .education__courses-item,
  .education__sup-title {
    font-size: 16px;
  }
  .contacts__list {
    height: 240px;
  }
}

@media (max-width: 460px) {
  .swiper {
    width: 350px;
  }
  .education__courses-item,
  .education__sup-title {
    font-size: 14px;
  }
  .about-me__video {
    display: none;
  }
  .portfolio__item-img {
    max-width: 320px;
  }
  .contacts__list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media (max-width: 360px) {
  .swiper {
    width: 300px;
    height: 260px;
  }
  .portfolio__item-img {
    max-width: 250px;
  }
}
