@import "null.scss";

* {
  transition: 0.2s all;
}

html {
  scroll-behavior: smooth;
}
body ._lock {
  overflow: hidden;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);;
  &__container {    
    max-width: 943px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  &__btn {
    display: none;
  }
  &__nav {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    & ul li a {
      color: #828282;
      padding: 5px;
      position: relative;
      transition: all 2s;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: #aaa;
        height: 1px;
      }
      &:hover {
        color: #fff;
        z-index: 1;
        text-decoration: none;
      }
      &:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > li {
      flex: 0 1 auto;
    }
  }
  &__main-title-block {
    display: flex;
    justify-content: space-between;
    padding: 39px 0px 30.6px;
    text-align: center;
    align-items: center;
  }
  &__my-name {
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    word-wrap: wrap;
    flex: 0 1 124px;
  }
  &__about-me {
    font-size: 18px;
    line-height: 22px;
    flex: 0 1 160px;
  }
  &__language {
    cursor: pointer;
    transform: rotate(-90deg);
    flex: 0 1 auto;
    &--eng {
      font-weight: 700;
    }
  }
  &__my-foto {
    background-image: url("../assets/img/my-foto.JPG");
    background-repeat: no-repeat;
    background-position: 100% 35%;
    background-size: cover;
    width: 100%;
    height: 387px;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgb(5, 5, 5);
  }
}
.about-me {
  background-color: #f3f3f3;
  padding: 70px 0px;
  color: #070707;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__title {
    margin: 40px 0px 50px;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__text-block {

    flex: 0 1 450px;
  }
}
.education {
  background-color: #f3f3f3;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 70px 55px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__sup-title {
    margin: 25px 0;
    font-size: 18px;
    line-height: 25px;
    & span {
      font-weight: 700;
      font-size: 22px;
      line-height: 25px;
    }
  }
  &__courses-item {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    background-image: url(../assets/svg/check_mark.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 35px;
  }
  &__courses-item-link {
    color: #070707;
    cursor: pointer;
    &:hover {
      color: #828282;
    }
  }
  &__certificate-img {
      width: 500px;
      display: none;
    }
}
.active {
  display: block;
}
.skills {
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 70px 20px;
  }
  &__title {
    margin-bottom: 49px;
  }
  &__hard-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    align-items: center;
    text-align: center;
    margin: 30px 50px;
    & > img {
      width: 80px;
    }
  }
  &__item-text {
    line-height: 17px;
    text-align: center;
    margin: 23px 0px 31px;
    color: #828282;
  }
  &__level {
    & img {
      cursor: pointer;
    }
  }
}
.soft-skills {
  background-color: #fff;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 40px 20px 70px;
  }
  &__title {
    margin: 25px 0 40px;
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  &__item-title {
    font-size: 18px;
    flex: 0 1 300px;
    line-height: 42px;
    text-transform: capitalize;   
    align-items: center;
    display: flex;
     & > img {
      width: 30px;
      margin-right: 10px;
    }
  }
}
.english {
  background-color: #f3f3f3;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 70px 20px; 
  }
}
.swiper {
  width: 700px;
  height: 500px;
}
.portfolio {
  padding: 70px 0;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    padding: 0 20px;    
    font-size: 18px;
    line-height: 25px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__code-title {
    text-decoration: underline;
  }
  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  &__item {
    width: 300px;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
}
  &__item-img {
    max-width: 420px;
    
  }
  &__item-suptitle {
    margin-top: 10px;
  }
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.progress {
  flex: 2 1 150px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(144, 189, 223, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(144, 189, 223, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(144, 189, 223, 0.6) inset;
}
.contacts {
  background-color: #f3f3f3;
   padding: 70px 20px;
  &__container {
    max-width: 943px;
    margin: 0 auto;

  }
  &__title {
    margin-bottom: 50px;
  }
  &__content {
    border-left: 3px solid #828282;
  }
  &__list {
    height: 120px;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
  }
  &__item {
    margin-left: 20px;
  }
  &__link {
    color: #070707;
    line-height: 40px;
    &:hover {
      color: #828282;
      text-decoration: none;
    }
  }
  &__link-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.footer {
  padding: 30px 20px;
  &__container {
    max-width: 943px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 90px;
    margin-left: 20px;
  }
}
@media (max-width: 920px) {
  .portfolio {
    &__item-img {
      max-width: 340px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__btn {
      display: block;
      width: 30px;
      height: 18px;  
      position: relative;
      cursor: pointer;
      z-index: 5;
      & span,
      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 13%;
        left: 0;
        background-color: #616161;
        transition: all .2s ease 0s;
      }
      & > span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &::before {
        content: '';
        top: 0;
      }
      &::after {
        content: '';
        bottom: 0;
      } 
      &--active > span {
        transform: scale(0) translate(0px, -50%);
      }
      &--active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
      &--active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }
    &__content {
    padding-bottom: 30px;
    }
    &__nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #e7e7e7;
      padding: 100px 30px 30px 60px;
      opacity: .96;
      transition: left .3s ease 0s;
      overflow: auto;
      &::before {
        content: "";
        top: 0;
        left: 0;
        position: fixed;
        height: 60px;
        background-color: #f3f3f3;
        width: 100%;
        z-index: 2;
      }
      & ul li a {
      color: #000;
      font-size: 24px;
      }
      &--active {
        left: 0;;
      }
    }
    &__nav-list {
    //   display: none;
      flex-direction: column;
    }    
    &__nav-list-link {
       margin-top: 30px;
    }
  }
  
  .about-me,
  .skills__container,
  .soft-skills__container,
  .portfolio,
  .contacts {
    padding: 70px 20px;
  }
  .skills__item {
    margin: 20px 26px;
  }
  .skills__item > img {
    width: 70px;
  }
  .skills__item-text {
    margin: 18px 0 22px;
  }
  .portfolio {
      &__container {
      padding: 0;
    }
  }
  .swiper {
    width: 500px;
    height: 420px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .contacts {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .swiper {
    width: 400px;
  }
  .education__courses-item,
  .education__sup-title {
    font-size: 16px;
  }
  .contacts__list {
    height: 240px;
  }
}
@media (max-width: 460px) {
  .swiper {
    width: 350px;
  }
  .education__courses-item, 
  .education__sup-title {
    font-size: 14px;
  }
  .about-me__video {
    display: none;
  }
  .portfolio__item-img {
    max-width: 320px;
  }
  .contacts__list {
    column-count: 1;
  }
}

@media (max-width: 360px) {
  .swiper {
    width: 300px;
    height: 260px;
  }
    .portfolio__item-img {
    max-width: 250px;
  }
}